<form role="form">

    <script cam-script type="text/form-script">
   inject(['$rootScope', function($rootScope) {
      $scope.userName = $rootScope.authentication.name;
    }]);
  $scope.open1 = function($event) {
    $event.preventDefault();
    $event.stopPropagation();

    $scope.dateFieldOpened1 = true;
  };
  $scope.open2 = function($event) {
    $event.preventDefault();
    $event.stopPropagation();

    $scope.dateFieldOpened2 = true;
  };

      var dataObject = $scope.dataObject = {
         employee: $scope.userName
      };
  camForm.on('form-loaded', function() {
    camForm.variableManager.createVariable({
      name: 'application',
      type: 'Object',
      value: dataObject,
      valueInfo: {
        serializationDataFormat: 'application/json',
        objectTypeName: 'bpmn2.storm.backend.model.BusinessTrip'
      }
    });
  });
</script>
    <div class="col-xs-6">
        <h3 ng-show=${1<2}>Ввод КПИ</h3>
    </div>
    <h3>Разрешение на замену</h3>
    <div class="control-group" >
        <div ng-show=dataObject.ste(1)>
            <label class="control-label" for="naim">Наименование изделия:</label>
            <div class="controls">
                <input id="naim"
                       class="form-control"
                       type="text"
                       required
                       ng-model="dataObject.naim">
            </div>
            <br>
            <label class="control-label" for="obozn">Обозначение изделия:</label>
            <div class="controls">
                <input id="obozn"
                       class="form-control"
                       type="text"
                       required
                       ng-model="dataObject.obozn">
            </div>
            <br>
            <label class="control-label" for="zakaz">Заказ №<</label>
            <div class="controls">
                <input id="zakaz"
                       class="form-control"
                       type="text"
                       required
                       ng-model="dataObject.zakaz">
            </div>
        </div>
        <div ng-show=dataObject.stg(1)>
            <b>Наименование изделия: </b>{{pkim.naim}}<br><b>Обозначение изделия: </b>{{pkim.obozn}}<br><b>Заказ </b>{{pkim.zakaz}}<br>
        </div>
        <label class="control-label" for="reason">Reason*</label>
        <br>
        <textarea cam-variable-name="dataObject.reason"
                  style="width:100%"
                  required
                  id="reason"
                  cam-variable-type="String">
</textarea>
        <label class="control-label" for="employee">Employee*</label>
        <div class="controls">
            <input id="employee"
                   class="form-control"
                   type="text"
                   required

                   ng-model="dataObject.employee">
        </div>
        <label class="control-label" for="amount">Amount*</label>
        <div class="controls">
            <input id="amount"
                   class="form-control"
                   type="text"
                   required
                   cam-variable-type="Long"
                   ng-model="dataObject.amount">
        </div>
    </div>
</form>
